<header id="myCarousel" class="carousel slide">
<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>

<!-- Wrapper for Slides -->
<div class="carousel-inner">
    <div class="item active">
        <div class="container">
            <div class="col-md-12">
                 <h1>JEWELS</h1>
            </div>
            <div class="col-md-6">

                <p>
                    Our jewels can be the perfect gift to express your adoration, your gratitude, your happiness and your love.
                </p>
                <p>
                    Beawelry pieces use modern design infused together with classical motifs: using classical proportions in combination with modern twists of refinement. Both characteristics work together to create a balanced design which represents both the youthful energy of the brand as well as the traditions of jewelry making.
                </p>
                <p>
                    All pieces are designed to be a part of the many special occasions so that every event can be expressed, communicated, and remembered. Every design is made in consideration to everyday wearability through size flexibility and careful selections of materials: 18K gold, 14K gold, diamonds, genuine color-stone, premium anti-tarnish sterling silver (925), brass with rhodium, and Swarovski’s Cubic Zirconia.
                </p>
                <!--<ul>
                    <li> <a href="collection-list.html?product=ring">ring collection list</a></li>
                    <li> <a href="collection-list.html?product=bracelets">bracelets collection list</a></li>
                    <li> <a href="collection-list.html?product=pendant">pendant collection list</a></li>
                    <li> <a href="collection-list.html?product=erring">erring collection list</a></li>
                    <li> <a href="collection-list.html?product=mix">mix set collection list</a></li>
                </ul>-->

            </div>
            <div class="col-md-6">
                <div class=" slider img-responsive ">
                     <figure class="fiveimage">
                        <%= image_tag '4-JEWELS-01.jpg' %>
                        <%= image_tag '4-JEWELS-02.jpg' %>
                        <%= image_tag '4-JEWELS-03.jpg' %>
                        <%= image_tag '4-JEWELS-04.jpg' %>
                        <%= image_tag '4-JEWELS-05.jpg' %>
                        <%= image_tag '4-JEWELS-01.jpg' %>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="container">
            <div class="col-md-12">
                 <h1>Beawelry BEAR</h1>
            </div>
            <div class="col-md-6">

                <p>
                    The Beawelry Bear, our mascot and icon, is designed to capture the elegance, grace, cute, happy, warm and positive characteristics of every individual. The Bear takes on human proportions and can be put into many positions with movable arms and legs.
                </p>
                <p>
                    The Beawelry Bear was precisely designed, and copyright registered worldwide. It is a doll, a ring holder, and a piece of refined jewelry. The Bear is hand-sewed doll with Rhodium plated on allow with Swarovski Cubic Zirconia nose and buttons. The Beawelry Bear wishes to help represents your emotions through its lovable characteristics.
                </p>
               <!-- <ul>
                    <li> <a href="collection-list.html?product=bear">bear collection list</a></li>
                </ul>-->

            </div>
            <div class="col-md-6">
                <div class="slider img-responsive">
                    <figure class="treeimage">
                        <%= image_tag "6-beawelry-bear-01.jpg" %>
                        <%= image_tag "6-beawelry-bear-02.jpg" %>
                        <%= image_tag "6-beawelry-bear-03.jpg" %>
                        <%= image_tag "6-beawelry-bear-01.jpg" %>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="container">
            <div class="col-md-12">
                 <h1>PERSONALISATION</h1>
            </div>
            <div class="col-md-6">

                <p>
                    The Beawelry Personalisation Experience, available at our stores, provides an opportunity for every occasion to be materialized. With our new visualization software, you can engrave personal messages onto our rings and Beawelry envelope charms (which can be incorporated with the Beawelry Bear, necklace, and bracelet). Every purchase with Beawelry is unique, as well as personal. We welcome you to join us and hope to be a part of your many sentimental occasions.
                </p>
                <!--<ul>
                    <li> <a href="#">view personalisation collection</a></li>
                </ul>-->

            </div>
            <div class="col-md-6">
                <div class=" slider img-responsive ">
                     <figure class="fiveimage">
                        <%= image_tag "5-PERSONALSATION-01.jpg" %>
                        <%= image_tag "5-PERSONALSATION-02.jpg" %>
                        <%= image_tag "5-PERSONALSATION-03.jpg" %>
                        <%= image_tag "5-PERSONALSATION-04.jpg" %>
                        <%= image_tag "5-PERSONALSATION-05.jpg" %>
                        <%= image_tag "5-PERSONALSATION-01.jpg" %>
                    </figure>
                </div>

            </div>
        </div>
    </div>
</div>

  <%= render partial: 'shared/carousel_control' %>
</header>
<!-- /.container -->
