<div class="container full-height">
    <div class="header-title">
        <ul class="list-inline">
            <li>
                <%= link_to 'home', inside_path %>
            </li>
            <li>Terms & Policies</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h1>Beawelry.com Terms of Use</h1>
        <p class="text_justify">
            PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS PLATFORM.  The Platform include the Beawelry website and its products and services. By access this Platform via any computer, mobile, tablet, console, or other devices, means you have read, understand and agreed to the Terms of Use and any other applicable law. Beawelry reserves the right to change the Terms of Use in the future which will have immediate effect upon its appearance on the Platform. Your usage of the Platform means you have accepted the updated Terms of Use. If you do not agree to these Terms of Use, please do not use the Platform.
        </p>
        </br>
        <p>
           <b> Intellectual Property</b>
        </p>
        <p class="text_justify">
            All Intellectual Property on this Platform belongs to Beawelry or its licensors. These include material protected by trademarks, copyright and design patents including but not limited to the Beawelry Bear. All trademarks, service marks and trade name including but not limited to word and semi-figurative mark Beawelry®, figurative marks whether registered or not are the exclusive property of and may only be licensed by Beawelry. All other copyrightable contents on the Platform including but not limited to text, images, designs, graphics, scripts, codes, software, application, videos, interactive features and contents are the exclusive property of Beawelry, all rights reserved and enforceable by law.
        </p>
        </br>
        <p>
            <b >Platform Restriction</b>
        </p>
        <p class="text_justify">
            You may use the Platform and its content only for your own non-commercial purpose. If you need to download or print contents from the Platform, you agree to not change or delete any of the ownership notices in those downloads or printed contents. You further agree not to modify, copy, translate, broadcast, perform, display, distribute, frame, reproduce, republish, download, display, post, transmit or sell any Intellectual Property or content appearing on the Platform without Beawelry’s written consent. Also you agree that the usage of any data mining method, computer bot, scraping or similar data collecting methods are not allowed. We reserve the right for law enforcement should you breach our Platform Restriction’s terms of use.
            Product Order
            All the orders process through the Platform are subject to Beawelry‘s acceptance. This mean Beawelry can refuse to proceed the order or cancel the confirmed order, with or without reasons and without liabilities to you or anyone. In case where a credit card has been charged, Beawelry will refund that amount to you.
        </p>
        </p>
        </br>
        <p>
            <b>Links</b>
        </p>
        <p class="text_justify">
            The Platform may contain links to other websites, applications or products or services run by third parties. Beawelry has no control and does not monitor those third parties platform, which may have different terms of use and privacy policies than our Platform. Therefore Beawelry does not accept responsibility and is not liable for the contents of these third parties and their terms of use and privacy policies. Your access to and usage of these contents is at your own risk.
            Privacy
            You can click on our Beawelry Privacy Policy for more detail on our privacy policy, which is also incorporated into these Terms of Use.
        </p>
        </br>
        <p>
            <b> Warrantee Disclaimer </b>
        </p>
        <p class="text_justify">
            Beawelry is not responsible or liable for the messages the user generate through the Platform. Also the contents, materials, and products on the Platform are provided “AS IS” and without warrantee or any kind.  Beawelry does not warrant that the Platform will always be uninterrupted or error-free and its content and material will always be accurate, correct, and reliable and not guarantee that the errors will be corrected. Beawelry also does not warrantee that the Platform and the server will be virus-free or free from other harmful security breach. You agree and understand that any content downloaded is at your own risk and you are responsible for any damage, data loss, or other harm that may incur to your mobile, tablet, computer devices or systems used to access the Platform. Beawelry reserves the right to change any content in the Platform without notice.
        </p>
        </br>
        <p>
            <b>Limitation of Liability</b>
        </p>
        <p class="text_justify">
            BEAWELRY SHALL NOT BE LIABLE FOR ANY DIRECT, SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES, INCLUDING FOR ANY LOST PROFITS OR LOST DATA, THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THIS PLATFORM OR THE USAGE OF THE PRODUCTS PURCHASED THROUGH THE PLATFORM OR AT PHYSICAL STORE OR ATTENDANCE AT A BEAWELRY EVENT OR ANY USER GENERATED CONTENT.
            Severability
            If any provision in these Terms of Use is held invalid for some reasons or is deemed unlawful, void or unenforceable, then the remaining provisions of these Terms of Use shall continue to be valid and enforceable.
            Termination
            Beawelry reserves the right to restrict your use of all or any part of the Platform for any or no reason, without notice, and without liability to you or to the other. Beawelry also reserves the right to block users from certain IP addresses or Device numbers and prevent access to the Platform.

        </p>
        </br>
        <h1>Beawelry Privacy Policy</h1>
        <p>
            <b>Information Collected</b>
        </p>
        <p class="text_justify">
            We collect information you agree to give us such as gender, first name, last name, email, telephone, customized message, and your customized design.
        </p>
        </br>
        <p>
           <b> Information Usage</b>
        </p>
        <p class="text_justify">
            We only use your personal information for processing your order and to perform general marketing analysis for further strategy development.
        </p>
        </br>
        <p>
            <b>Information Disclosure</b>
        </p>
        <p class="text_justify">
            Save exceptional circumstances such as request from competent courts to disclose such information, we will not disclose your personal information; including your name, email, phone number, customized message, and your customized design to any third party. And we do not give other companies access to your personal information.
        </p>
        </br>
        <p>
            <b>Information Disclosure by Law</b>
        </p>
        <p class="text_justify">
            We may disclose your information in accordance to law or by government request. We may also share your information to company assisting in fraud protection or investigation.
        </p>
        </br>
        <p>
            <b>Copyright</b>
        </p>
        <p class="text_justify">
            All content on Beawelry websites, including but not limited to articles, photos, moving images and graphics, and your customized design, belongs to and is administrated by Beawelry.
            You are allowed to produce digital or physical copies of the content for your own personal use only.  Also you are allowed to use your predesign or customized design product for your own personal use only. If you use them for other purpose, Beawelry reserved the right to proceed according to appropriate law.
        </p>
        </br>
        <p>
            <b>The newsletter</b>
        </p>
        </p class="text_justify">
            The newsletter will be sent to the email address you provided when you signed up. It is your responsibility to update your personal details, including your e-mail address.
            If you no longer wish to receive the newsletter, you can unsubscribe at any time by using the link in the newsletter.
        </p>
    </div>
</div>
<!-- /.container -->
