<!-- Controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
  <span class='icon-prev'>
    <%= image_tag 'left_arrow.png' %>
  </span>
</a>
<a class="right carousel-control " href="#myCarousel" data-slide="next">
  <span class='icon-next'>
    <%= image_tag 'right_arrow.png' %>
  </span>
</a>
