<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    controller_path, media: 'all' %>
    <%= stylesheet_link_tag    'main', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag controller_path %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container-fluid header pink_gradient">
      <!-- <img src="./images/top_bar_2x.png" style="max-width:100%;"> -->
      <%= image_tag asset_path('old/top_bar_2x.png'), class: 'full-width', style: '' %>
    </div>

    <div class="container-fluid pink_gradient  text-center">
      <!-- <div class="row text-center  pink_gradient"> -->
      <!-- <img src="./images/coming_soon.png" style="max-width:100%; max-height:100%"> -->
      <%= image_tag asset_path('old/coming_soon.png'), class: 'full-width', style: '' %>
      <!-- </div> -->
    </div>

    <div class="container-fluid footer pink_gradient">
      <div class="col-xs-12 transparent" style="padding:0;">
        <!-- <img src="./images/bottom_bar_2x.png" style="max-width:100%; max-height:100%"> -->
        <%= image_tag asset_path('old/bottom_bar_2x.png'), class: 'full-width', style: '' %>

      </div>
    </div>
  </body>
</html>
