<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    controller_path, media: 'all' %>
    <%= stylesheet_link_tag    'main', media: 'all' %>
    <%= stylesheet_link_tag    'cover', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag controller_path %>
    <%= csrf_meta_tags %>
  </head>

<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="inner cover">
          <div>
            <!-- <img src="/assets/beawelry_logo_2x.png" style="width:448px; height: 198px;"> -->
            <%= image_tag 'beawelry_logo_2x.png', class: '', style: 'width: 448px; height: 198px;' %>
          </div>

          <div style=" margin-top: 50px;">
            <%= link_to coming_soon_path do %>
              <!-- <img src="./images/enter_button_2x.png" style="width:148px; height; 46px;"> -->
              <%= image_tag 'enter_button_2x.png', class: '', style: 'width: 208px; height: 46px;' %>
            <% end %>
          </div>

          <!-- <h1 class="cover-heading">Cover your page.</h1> -->
          <!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
          <!-- <p class="lead"> -->
          <!-- <a href="#" class="btn btn-lg btn-default">Learn more</a> -->
          <!-- </p> -->
        </div>

        <div class="mastfoot">
          <div class="inner">
            <ul class="nav mastfoot-nav">
              <li ><a href="#">About us</a></li>
              <li>|</li>
              <li><a href="#">Contact</a></li>
              <li>|</li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
</body>

</html>
