<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="description" content="Beawelry reinvents the traditional perception of jewelry; from precious and valuable material to object of emotional representation. We strive to provide the most warming and beautiful experience of giving, receiving, and wearing">
    <meta name="author" content="Beawelry">

    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

    <title><%= page_title %></title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'animate', media: 'all' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <script>
    dataLayer = [];
  </script>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W9RF2S"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-W9RF2S');</script>
  <!-- End Google Tag Manager -->

  <div class="intro gradient-bg-header">
    <div class="inner">
      <%= image_tag "beawelry_logo.png", class: 'logo animated bounce' %>
      <%= link_to inside_path, 'onclick' => "dataLayer.push({'event': 'entersite'});" do %>
        <%= image_tag 'enter_button_2x.png', class: 'btn-enter' %>
      <% end %>
      <ul class="social">
          <li><a href="https://www.facebook.com/Beawelry"  TARGET="_blank" title="Beawelry's facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://instagram.com/beawelry" title="Beawelry's instagram"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</body>

</html>
