<!DOCTYPE html>
<html>
<head>
  <title>Beawelry</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    controller_path, media: 'all' %>
  <%= stylesheet_link_tag    'main', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag controller_path %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid header pink_gradient">
    <%= image_tag 'top_bar_2x.png', class: '' %>
  </div>

  <div class="container-fluid main_body pink_gradient">
    <div>
      <div class="col-xs-2 col-xs-offset-1 transparent">
        <!-- <img src="./images/inside_button_active_2x.png" style="max-width:100%; max-height:100%;"> -->
        <%= image_tag 'inside_button_active_2x.png', class: '' %>
        <!-- <img src="./images/vertical_bar_2x.png" style="position: absolute; top: 25%; right: -1%; max-height:50%;"> -->
        <%= image_tag 'vertical_bar_2x.png', class: '' %>
      </div>

      <div class="col-xs-2 transparent">
        <!-- <img src="./images/collection_button_2x.png" style="max-width:100%; max-height:100%;"> -->
        <%= image_tag 'collection_button_2x.png', class: '' %>
        <!-- <img src="./images/vertical_bar_2x.png" style="position: absolute; top: 25%; right: -1%; max-height:50%;"> -->
        <%= image_tag 'vertical_bar_2x', class: '' %>
      </div>

      <div class="col-xs-2 transparent">
        <!-- <img src="./images/news_button_2x.png" style="max-width:100%; max-height:100%;"> -->
        <%= image_tag 'news_button_2x.png', class: '' %>
        <!-- <img src="./images/vertical_bar_2x.png" style="position: absolute; top: 25%; right: -1%; max-height:50%;"> -->
        <%= image_tag 'vertical_bar_2x.png', class: '' %>
      </div>

      <div class="col-xs-2 transparent">
        <img src="./images/about_button_2x.png" style="max-width:100%;
        max-height:100%;">
        <img src="./images/vertical_bar_2x.png" style="position: absolute; top: 25%; right: -1%; max-height:50%;">
      </div>
      <div class="col-xs-2 transparent">
        <img src="./images/store_button_2x.png" style="max-width:100%;
        max-height:100%;">
      </div>
    </div>


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-xs-5 col-xs-offset-1">

          </div>
          <div class="col-xs-5">
          <img src="./images/1.png" style="width:50%; margin-left:25%; margin-top:10%;" class="text-center">
          </div>
          <!-- <img src="..." alt="..."> -->
          <!-- <div class="carousel-caption"> -->

          <!-- </div> -->
        </div>
        <div class="item">
          <div class="col-xs-5 col-xs-offset-1">

          </div>
          <div class="col-xs-5">

          </div>
        </div>
        <div class="item">
          <div class="col-xs-5 col-xs-offset-1">

          </div>
          <div class="col-xs-5">

          </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="background: transparent;">
        <img src="./images/left_arrow.png" class="glyphicon-chevron-left" style="max-width:100%; max-height:100%">
        <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background: transparent;">
        <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
        <img src="./images/right_arrow.png" class="glyphicon-chevron-right" style="max-width:100%; max-height:100%">
      </a>
    </div>
    <div class="col-xs-12 transparent">
    <img src="./images/bottom_curv.png" style="max-width:100%;
        max-height:100%;">
    <!-- Indicators -->
      <ol class="indicator">
        <li data-target="#carousel-example-generic" data-slide-to="0">
          <img src="./images/page_control_active.png" style="max-width:100%;
        max-height:100%;">
        </li>
        <li data-target="#carousel-example-generic" data-slide-to="1">
          <img src="./images/page_control.png" style="max-width:100%; max-height:100%;">
        </li>
        <li data-target="#carousel-example-generic" data-slide-to="2">
          <img src="./images/page_control.png" style="max-width:100%; max-height:100%;">
        </li>
      </ol>

    </div>
  </div>

  <div class="container-fluid footer pink_gradient">
    <div class="col-xs-12 transparent" style="padding:0;">
      <img src="./images/bottom_bar_2x.png" style="max-width:100%; max-height:100%">
      <ul class="social_icon_bar">
        <li ><a href="#"><img src="./images/Facebook-icon.png"></a></li>
        <li><a href="#"><img src="./images/twitter-icon.png"></a></li>
        <li><a href="#"><img src="./images/Instagram_Icon_Large.png"></a></li>
        <li><a href="#"><img src="./images/Pinterest alt.png"></a></li>
        <li><a href="#"><img src="./images/Facebook-icon.png"></a></li>
      </ul>
    </div>
  </div>
</body>
</html>
