<div class="container full-height">
    <div class="header-title">
        <ul class="list-inline">
            <li>
                <%= link_to 'home', inside_path %>
            </li>
            <li>
                <%= link_to 'news', news_index_path %>
            </li>
            <li>Join us</li>
        </ul>
    </div>
    <div class="col-md-3">
        <%= image_tag 'beawelry.jpg', class: 'img-responsive' %>
    </div>
    <div class="col-md-9">
        <h1>Join Us</h1>
         <ul class="list-inline">
                <li><i class="fa fa-calendar"></i> 22/10/2014</li>
                <li></li>
            </ul>
        <p>
            Bare your heart starting this October 22nd, 2014 on the first floor of Siam Center. We hope to see you soon.
        </p>


    </div>
</div>
<!-- /.container -->
