<div class="container full-height">
    <div class="box-news col-md-6">
        <div class="col-md-4">
          <%= image_tag "beawelry.jpg", class: 'img-responsive' %>
        </div>
        <div class="col-md-8">
            <h3>Join us</h3>
            <ul class="list-inline">
                <li><i class="fa fa-calendar"></i> 22/10/2014</li>
                <li></li>
            </ul>
            <p>Bare your heart starting this October 22nd, 2014 on first floor of Siam Center...</p>
            <%= link_to 'read more', grand_opening_news_index_path %>
        </div>
    </div>
</div>
<!-- /.container -->
