<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
        <div class="col-md-12">
          <h1>THE NEW WAY <br> <span>OF GIVING</span></h1>
        </div>
        <div class="col-md-6">
          <p>
            Beawelry reinvents the traditional perception of jewelry; from precious and valuable material to object of emotional representation. We strive to provide the most warming and beautiful experience of giving, receiving, and wearing.
          </p>
          <p>
            Beawelry combines the delicacy of jewelry with the warmth of our Beawelry Bear(hence our name). The Beawelry Bear is copyright registered worldwide and designed specifically to take part in the giving experience by being a lovable doll, a delicate piece of jewelry, and a ring holder.
          </p>
          <p>
            Beawelry provides premium gifts that can be personalized to create a new giving experience. We wish to help you express your emotions to your loved ones for all your special occasions. We invite you to bare your heart.
          </p>
        </div>
        <div class="col-md-6">
          <div class=" slider img-responsive ">
            <figure class="fourimage">
              <%= image_tag 'beawelry-new-way-01.jpg' %>
              <%= image_tag 'beawelry-new-way-02.jpg' %>
              <%= image_tag 'beawelry-new-way-03.jpg' %>
              <%= image_tag 'beawelry-new-way-04.jpg' %>
              <%= image_tag 'beawelry-new-way-01.jpg' %>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="col-md-12">
           <h1>THE<br> <span>EXCLUSIVITY</span></h1>
        </div>
        <div class="col-md-6">

          <p>
            We want to ensure that every product you purchase with us is uniquely and truly made for you. With our new laser engraving technology; you can have a product that is exclusively yours within minutes. We invite you to join us at our store to experience our new personalization software which allows you to record any message onto our signature premium envelope charms and rings. Beawelry wishes to be a medium in which you express your emotions to your special someone.
          </p>

        </div>
        <div class="col-md-6">
          <div class=" slider img-responsive ">
            <figure class="treeimage">
              <%= image_tag '2-THE-EXCLUSIVITY-01.jpg' %>
              <%= image_tag '2-THE-EXCLUSIVITY-02.jpg' %>
              <%= image_tag '2-THE-EXCLUSIVITY-03.jpg' %>
              <%= image_tag '2-THE-EXCLUSIVITY-01.jpg' %>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="col-md-12">
           <h1>OUR <br> <span>COMPANY</span></h1>
        </div>
        <div class="col-md-6">

          <p>
            Our jewelry pieces are made by a selected team of craftsmen with more than twenty-years of experience. We strive to create wearable jewelry for everyday use while ensuring that every piece is produced at the highest standard and meticulous attention to detail. In order to make sure that every piece of jewelry is executed to perfection, our manufacturing method combines the precision of technology with the delicacy of the human hand.
          </p>

        </div>
        <div class="col-md-6">
          <div class=" slider img-responsive ">
            <figure class="treeimage">
              <%= image_tag '3-OUR-COMPANY-01.jpg' %>
              <%= image_tag '3-OUR-COMPANY-02.jpg' %>
              <%= image_tag '3-OUR-COMPANY-03.jpg' %>
              <%= image_tag '3-OUR-COMPANY-01.jpg' %>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'shared/carousel_control' %>
</header>
<!-- /.container -->
