<!DOCTYPE html>
<html>
  <head>
    <title>
      [ENQUIRY] from beawelry.com
    </title>
  </head>

  <body>
    <h3>
      From <%= @data[:name] %> &lt;<%= @data[:email] %>&gt; <%= @data[:telephone] %>
    </h3>

    <p style="font-size: 14px; color: #888888;">
      This is an auto generated email. Please do not reply to this email.
    </p>

    <h4 style="text-decoration: underline;">
      Message is as follow
    </h4>

    <div style="width: 100%;">
      <p>
      <%= html_escape(@data[:message]).gsub("\n", '<br/>').html_safe %>
      </p>
    </div>
  </body>
</html>
