/*
 * Globals
 */

 /* Links */
 a,
 a:focus,
 a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

 html,
 body {
  height: 100%;
  background: #523528; /* Old browsers */
  background: -moz-linear-gradient(left,  #523528 1%, #80624f 49%, #80624f 52%, #523528 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%,#523528), color-stop(49%,#80624f), color-stop(52%,#80624f), color-stop(100%,#523528)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #523528 1%,#80624f 49%,#80624f 52%,#523528 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #523528 1%,#80624f 49%,#80624f 52%,#523528 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #523528 1%,#80624f 49%,#80624f 52%,#523528 100%); /* IE10+ */
  background: linear-gradient(to right,  #523528 1%,#80624f 49%,#80624f 52%,#523528 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#523528', endColorstr='#523528',GradientType=1 ); /* IE6-9 */

}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.row
{
  width: 100%;
}


/*
 * Header
 */
 .masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

 .cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

 .mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/* Mink Edit*/
/*
 * Footer
 */

.mastfoot-nav > li {
  display: inline-block;
}
.mastfoot-nav > li + li {
  margin-left: 20px;
}
.mastfoot-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.mastfoot-nav > li > a:hover,
.mastfoot-nav > li > a:focus {
  background-color: transparent;
  /*border-bottom-color: #a9a9a9;*/
  /*border-bottom-color: rgba(255,255,255,.25);*/
}
.mastfoot-nav > .active > a,
.mastfoot-nav > .active > a:hover,
.mastfoot-nav > .active > a:focus {
  /*color: #fff;*/
  /*border-bottom-color: #fff;*/
}

@media (min-width: 768px) {
  .mastfoot-brand {
    /*float: left;*/
  }
  .mastfoot-nav {
    /*float: right;*/
  }
}

/* */


/*
 * Affix and center
 */

 @media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


