body
{
	background: #e2d3cd; /* Old browsers */
	background: -moz-linear-gradient(left,  #e2d3cd 0%, #fff3f0 50%, #fff3f0 50%, #fff3f0 50%, #e2d3cd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e2d3cd), color-stop(50%,#fff3f0), color-stop(50%,#fff3f0), color-stop(50%,#fff3f0), color-stop(100%,#e2d3cd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* IE10+ */
	background: linear-gradient(to right,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2d3cd', endColorstr='#e2d3cd',GradientType=1 ); /* IE6-9 */
}

.pink_gradient
{
	background: #e2d3cd; /* Old browsers */
	background: -moz-linear-gradient(left,  #e2d3cd 0%, #fff3f0 50%, #fff3f0 50%, #fff3f0 50%, #e2d3cd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e2d3cd), color-stop(50%,#fff3f0), color-stop(50%,#fff3f0), color-stop(50%,#fff3f0), color-stop(100%,#e2d3cd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* IE10+ */
	background: linear-gradient(to right,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2d3cd', endColorstr='#e2d3cd',GradientType=1 ); /* IE6-9 */
}
.container-fluid
{
	padding-left: 0px;
	padding-right: 0px;
}
.landing_page
{
	background-image: asset-url("old/landing_bg.png");
	background-repeat: repeat-y;

	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	/*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
	/*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.header
{
	/*background: #523528; /* Old browsers */
	/*background: -moz-linear-gradient(left,  #523528 1%, #80624f 49%, #80624f 52%, #523528 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, right top, color-stop(1%,#523528), color-stop(49%,#80624f), color-stop(52%,#80624f), color-stop(100%,#523528)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(left,  #523528 1%,#80624f 49%,#80624f 52%,#523528 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(left,  #523528 1%,#80624f 49%,#80624f 52%,#523528 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(left,  #523528 1%,#80624f 49%,#80624f 52%,#523528 100%); /* IE10+ */
	/*background: linear-gradient(to right,  #523528 1%,#80624f 49%,#80624f 52%,#523528 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#523528', endColorstr='#523528',GradientType=1 ); /* IE6-9 */

	/*height: 85px;*/
}

.indicator
{
	position: absolute;
	bottom: 25%;
	left: 50%;
	z-index: 15;
	width: 60%;
	height: 20%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
}

.indicator li {
	display: inline-block;
	/*width: 100%;*/
	height: 100%;
	margin: 1px;
	/*text-indent: -999px;*/
	cursor: pointer;
/*	background-color: #000 \9;
	background-color: rgba(0,0,0,0);
	border: 1px solid #fff;
	border-radius: 10px;*/
}
.transparent
{
	background: transparent;
	border: 0;
}
.main_body
{
	/*height: 550px;*/
}

.menu_bar
{

}

.menu_bar > li {
  display: inline-block;
	height: 20px;
}
.menu_bar > li + li {
  margin-left: 20px;
}
.menu_bar > li > a {
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #5A4A42;

	border-width: 1px;
	border-color: #bc6638;
	border-style: solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
  /*border-bottom: 2px solid transparent;*/
}
.menu_bar > li > a:hover,
.menu_bar> li > a:focus {
  /*background-color: transparent;*/
  /*border-bottom-color: #a9a9a9;*/
  /*border-bottom-color: rgba(255,255,255,.25);*/
	color: #5A4A42;
	background: #e2d3cd; /* Old browsers */
	background: -moz-linear-gradient(left,  #e2d3cd 0%, #fff3f0 50%, #fff3f0 50%, #fff3f0 50%, #e2d3cd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e2d3cd), color-stop(50%,#fff3f0), color-stop(50%,#fff3f0), color-stop(50%,#fff3f0), color-stop(100%,#e2d3cd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* IE10+ */
	background: linear-gradient(to right,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2d3cd', endColorstr='#e2d3cd',GradientType=1 ); /* IE6-9 */
}
.menu_bar > .active > a,
.menu_bar > .active > a:hover,
.menu_bar > .active > a:focus {
	color: #5A4A42;
	background: #e2d3cd; /* Old browsers */
	background: -moz-linear-gradient(left,  #e2d3cd 0%, #fff3f0 50%, #fff3f0 50%, #fff3f0 50%, #e2d3cd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e2d3cd), color-stop(50%,#fff3f0), color-stop(50%,#fff3f0), color-stop(50%,#fff3f0), color-stop(100%,#e2d3cd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* IE10+ */
	background: linear-gradient(to right,  #e2d3cd 0%,#fff3f0 50%,#fff3f0 50%,#fff3f0 50%,#e2d3cd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2d3cd', endColorstr='#e2d3cd',GradientType=1 ); /* IE6-9 */

}


.footer
{
	/*position: relative;*/
	/*height: 27px;*/

    /*background-image: url(/images/bottom_bar_2x.png);*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center; */
}

.social_icon_bar
{
	position: absolute;
	bottom: 0%;
	/*bottom: 10px;*/
	left: 25%;
	/*z-index: 15;*/
	width: 50%;
	max-width: 50%;
	height: 50%;
	/*padding-left: 0;*/
	/*margin-left: -30%;*/
	text-align: center;
	list-style: none;
	padding:0;
}

.social_icon_bar > li {
  // display: inline-block;
  display: inline;
  height: 100%;

}
.social_icon_bar > li + li {
  margin-left: 0px;
}

.social_icon_bar img
{
	max-width:100%;
	max-height:100%;
	/*width: 20px;*/
	/*height: 20px;*/
}
