@media (max-width:800px) {
  .navbar-default .navbar-nav>li>a , .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
  .navbar-brand, .navbar-default .navbar-nav>li>a.active{
    margin: 0 9px;
    padding: 5px 15px;
   }
  .carousel,
  .item,
  .active {
      min-height: 85%
  }
  .carousel-inner{
    overflow:scroll;
    overflow-x:hidden;
  }
  .carousel-inner::-webkit-scrollbar {
      width: 5px;
  }
  .carousel-inner::-webkit-scrollbar-track {
      background-color: rgb(226,211,205);
      border-left: 1px solid rgb(226,211,205);
  }
  .carousel-inner::-webkit-scrollbar-thumb {
      background-color: rgb(226,211,205);
  }
  .carousel-inner::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
  .carousel-indicators{
    display: none;
  }
  .carousel-inner img{
      padding-top: 0;
  }
  .col-md-4{
    width: 50%;
    float: left;
  }
  .col-md-2{
    width: 20%;
    float: left;
  }
  .col-md-10{
    width: 80%;
    float: left;
  }
  .col-md-3{
    width: 30%;
    float: left;
  }
  .col-md-9{
    width: 70%;
    float: left;
  }
  .slider{
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .intro .inner {
      width: 60%;
      height: 40%;
      position: absolute;
      top: 30%;
      left: 20%;
      text-align: center;
  }
  .intro .inner .btn-enter{
      width: 80%;
      padding: 50px 0 0 0;
  }
  .carousel-control{
      width: 10%;
  }
  .carousel-control img{
      height: 30px;
  }
  .navbar-default .navbar-nav>li{
    border-right:none;
  }
  .navbar-default .navbar-nav>li>a:hover{
    background: transparent;
    border: none;
  }
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
    top: 200px;
  }
  .col-md-8{
    margin-top: 10px;
    float: left;
  }

}
@media screen and (max-width: 600px) {
  .col-md-4{
    padding-left: 5px;
    padding-right: 5px;

  }
}

@media screen and (max-width: 480px) {
  .intro .inner {
      width: 80%;
      height: 40%;
      position: absolute;
      top: 30%;
      left: 10%;
      text-align: center;
  }
  .carousel-inner h1 span{
    padding: 0 0px 10px;
  }
  .carousel-inner p{
    padding:0 5px 10px;
  }
  .col-md-4{
    width: 100%;
    float: left;
  }
  .col-md-2{
    width: 100%;
    float: left;
  }
  .col-md-10{
    width: 100%;
    float: left;
  }
  .col-md-3{
    width: 100%;
    float: left;
  }
  .col-md-9{
    width: 100%;
    float: left;
  }
  .collection-menu {
      display: none;
  }
  footer{
    height: 80px;
  }
  .footer-left{
      width: 100%;
      float: left;
      text-align: center;
  }
  .footer-right{
      width: 100%;
      float: left;
      text-align: center;
  }
  ul.social-footer{
    width: 160px;
    float: none;
  }
  ul.social-footer li{
      float: left;
      padding: 5px;
      font-size: 14px;
  }
  h1{
    font-size: 30px;
  }
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 20px 0;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
        border-radius: 0 0 70% 70%;
    }

  footer {
      border-radius: 70% 70% 0 0;
  }
    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: transparent;
        margin: 10px 0 20px;
    }
    .navbar-default .navbar-nav>li{
    border-right: 1px solid #000;
    margin: 10px 0;
  }
  .navbar-default .navbar-nav>li:last-child{
    border-right: none;
  }
  .navbar-nav>li{
    padding: 0;
  }
    .nav>li>a {
        padding: 5px 30px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
