/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* @import must be at top of file, otherwise CSS will not work */
// @import url("//hello.myfonts.net/count/2bfdd1");

@font-face {
    font-family: 'Copperplate-Lig';
    src: asset-url('2BFDD1_0_0.eot');
    src: asset-url('2BFDD1_0_0.eot?#iefix') format('embedded-opentype'),
    asset-url('2BFDD1_0_0.woff') format('woff'),
    asset-url('2BFDD1_0_0.ttf') format('truetype'),
    asset-url('2BFDD1_0_0.svg#wf') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FirminDidURW-Rom';
    src: asset-url('2BFDD1_1_0.eot');
    src: asset-url('2BFDD1_1_0.eot?#iefix') format('embedded-opentype'),
    asset-url('2BFDD1_1_0.woff') format('woff'),
    asset-url('2BFDD1_1_0.ttf') format('truetype'),
    asset-url('2BFDD1_1_0.svg#wf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK5Rby8KfwQsaipLBqMCVNtM.woff) format('woff');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5dgliI79_bmRXH6crmREtCo.woff) format('woff');
}
html,
body {
    overflow-x: hidden;
    height: 100%;
    background: rgb(226,211,205); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(226,211,205,1) 0%, rgba(255,243,240,1) 50%, rgba(226,211,205,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,211,205,1)), color-stop(50%,rgba(255,243,240,1)), color-stop(100%,rgba(226,211,205,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2d3cd', endColorstr='#e2d3cd',GradientType=1 ); /* IE6-9 */
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    background-color: rgb(226,211,205);
    border-left: 1px solid rgb(226,211,205);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(82,52,38);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
.thumbnail{
    background: rgb(226,211,205); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(226,211,205,1) 0%, rgba(255,243,240,1) 50%, rgba(226,211,205,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,211,205,1)), color-stop(50%,rgba(255,243,240,1)), color-stop(100%,rgba(226,211,205,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2d3cd', endColorstr='#e2d3cd',GradientType=1 ); /* IE6-9 */

}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
  margin: 0 auto;

}
.carousel,
.item,
.active {
    height: auto;
    min-height: 85%
}

.carousel-inner {
    height: 100%;
}
h1,h2,h3{
    font-family: FirminDidURW-Rom;
    text-transform: uppercase;
}
p{
  font-family: Libre Baskerville;
  font-style: italic;
}
form{
    font-family: Copperplate-Lig;
}
.carousel-inner p.text-contact{
    text-align: inherit;
}
@keyframes slidytree {
    0% { left: 0%; }
    16% { left: 0%; }
    32% { left: -100%; }
    48% { left: -100%; }
    64% { left: -200%; }
    80% { left: -200%; }
    100% { left: -300%; }
}
@-webkit-keyframes slidytree {
     0% { left: 0%; }
    16% { left: 0%; }
    32% { left: -100%; }
    48% { left: -100%; }
    64% { left: -200%; }
    80% { left: -200%; }
    100% { left: -300%; }
}
.slider { width: 85%; max-width: 1000px; overflow: hidden }
.slider figure.treeimage {
    position: relative; width: 400%;
    margin: 0; padding: 0; font-size: 0; left: 0; text-align: left;
    animation: 13s slidytree infinite;
   -webkit-animation : 13s slidytree infinite;
}
.slider figure.treeimage img{
    width: 25%
}
@keyframes slidyfour {
    0% { left: 0%; }
    12.5% { left: 0%; }
    25% { left: -100%; }
    37.5% { left: -100%; }
    50% { left: -200%; }
    62.5% { left: -200%; }
    75% { left: -300%; }
    87.5% { left: -300%; }
    100% { left: -400%; }
}
@-webkit-keyframes slidyfour {
    0% { left: 0%; }
    12.5% { left: 0%; }
    25% { left: -100%; }
    37.5% { left: -100%; }
    50% { left: -200%; }
    62.5% { left: -200%; }
    75% { left: -300%; }
    87.5% { left: -300%; }
    100% { left: -400%; }
}
.slider figure.fourimage {
    position: relative; width: 500%;
    margin: 0; padding: 0; font-size: 0; left: 0; text-align: left;
    animation: 16s slidyfour infinite;
   -webkit-animation : 16s slidyfour infinite;
}
.slider figure.fourimage img{
    width: 20%
}
@keyframes slidyfive {
    0% { left: 0%; }
    10% { left: 0%; }
    20% { left: -100%; }
    30% { left: -100%; }
    40% { left: -200%; }
    50% { left: -200%; }
    60% { left: -300%; }
    70% { left: -300%; }
    80% { left: -400%; }
    90% { left: -400%; }
    100% { left: -500%; }
}
@-webkit-keyframes slidyfive {
    0% { left: 0%; }
    10% { left: 0%; }
    20% { left: -100%; }
    30% { left: -100%; }
    40% { left: -200%; }
    50% { left: -200%; }
    60% { left: -300%; }
    70% { left: -300%; }
    80% { left: -400%; }
    90% { left: -400%; }
    100% { left: -500%; }
}
.slider figure.fiveimage {
    position: relative; width: 600%;
    margin: 0; padding: 0; font-size: 0; left: 0; text-align: left;
    animation: 20s slidyfive infinite;
   -webkit-animation : 20s slidyfive infinite;
}
.slider figure.fiveimage img{
    width: 16.66666666666667%
}

.carousel-inner h1 span{
    padding: 0 40px 10px;
}
.carousel-inner p{
    padding: 0 50px 10px;
    text-align: justify;
}
.carousel-inner ul{
    font-family: Copperplate-Lig;
    padding: 0 65px 10px;
    font-size: 12px;
}
.carousel-inner a{
    color: #000;
}
.carousel-inner a:hover ,.carousel-inner a:focus{
   color: rgb(216,159,132);
}
.collection-menu{
  padding: 0  5px ;
}
.collection-menu ul{
    font-family: Copperplate-Lig;
    padding: 0;
    font-size: 12px;
    list-style: none;
}
.collection-menu li{
    padding: 5px 0 0;
}
.collection-menu ul li:before {
 content: "\0BB \020";
 }
.collection-menu ul li ul{
    margin: 5px 0;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(216,159,132);
    border-top: 1px solid rgb(216,159,132);
}
.collection-menu ul li ul li:before {
 content: none;
 }
.collection-menu a{
    color: #000;
}
.collection-menu a:hover ,.collection-menu a:focus{
   color: rgb(216,159,132);
   text-decoration: underline;
}
.collection-menu a.active{
   color: rgb(216,159,132);
   text-decoration: underline;
}
/* Background images */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.full-height {
  height: 100%;
  overflow:scroll;
  overflow-x:hidden;
}
.full-height::-webkit-scrollbar {
    width: 5px;
}
.full-height::-webkit-scrollbar-track {
    background-color: rgb(226,211,205);
    border-left: 1px solid rgb(226,211,205);
}
.full-height::-webkit-scrollbar-thumb {
    background-color: rgb(82,52,38);
}
.full-height::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
.full-height-no-scroll {
  height: 100%;
}
.scroll{
  height: 90%;
  overflow:scroll;
  overflow-x:hidden;
}
.scroll::-webkit-scrollbar {
    width: 5px;
}
.scroll::-webkit-scrollbar-track {
    background-color: rgb(226,211,205);
    border-left: 1px solid rgb(226,211,205);
}
.scroll::-webkit-scrollbar-thumb {
  height: 50px;
    background-color: rgb(82,52,38);
}
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
.scroll-y{
  height: 90%;
  overflow:scroll;
  overflow-y:hidden;
}
.scroll-y::-webkit-scrollbar {
    width: 5px;
}
.scroll-y::-webkit-scrollbar-track {
    background-color: rgb(226,211,205);
    border-left: 1px solid rgb(226,211,205);
}
.scroll-y::-webkit-scrollbar-thumb {
  height: 50px;
    background-color: rgb(82,52,38);
}
.scroll-y::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
.intro {
    width: 100%;
    height: 100%;
    background-position: center;
    vertical-align:middle;
}

.intro .inner {
    width: 30%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
}
.intro .inner .logo{
    width: 100%;
}
.intro .inner .btn-enter{
    width: 50%;
    padding: 50px 0 0 0;
}
.intro .inner .btn-enter:hover{
    transform:scale(1);
    -webkit-transform: scale(1.1);
}
/*Header----------------------------------------*/
.brand,
.address-bar {
    display: none;
}
.navbar-nav{
  font-family: Copperplate-Lig;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 3px;
}
.navbar-default{
  border-color: rgb(82,52,38);
}
.navbar-default .navbar-toggle{
  border-color: rgb(82,52,38);
}
.navbar-default .navbar-nav>li>a{
  font-size: 14px;
  margin: 0 20px
}
.navbar-brand{
  padding: 5px 15px;
}
.navbar-brand img{
    height: 100%;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a.active{
    background: rgb(226,211,205); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(226,211,205,1) 0%, rgba(255,243,240,1) 50%, rgba(226,211,205,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,211,205,1)), color-stop(50%,rgba(255,243,240,1)), color-stop(100%,rgba(226,211,205,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(226,211,205,1) 0%,rgba(255,243,240,1) 50%,rgba(226,211,205,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2d3cd', endColorstr='#e2d3cd',GradientType=1 ); /* IE6-9 */
    border: 1px solid rgb(82,52,38);
    border-radius: 20px;
    margin: 0 19px
}
.img-full {
    min-width: 100%;
}
.brand-before,
.brand-name {
    text-transform: capitalize;
}
.brand-before {
    margin: 15px 0;
}
.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}
.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}
.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}
ul.social{
    color: #fff;
    list-style: none;
    height: 50px;
    padding: 20px 0 0 0;
    margin: 0 auto;
    width: 65px;
}

ul.social li{
    float: left;
    padding: 10px;
    font-size: 16px;
}

ul.social li a{
    color: #fff;
}

ul.social li a:hover{
    color: #F6CB8B;
}

.comingsoon{
    color: #fff;
}
/* Background gradient*/
.gradient-bg-header{
    background: rgb(82,52,38); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(82,52,38,1) 0%, rgba(131,100,79,1) 50%, rgba(82,52,38,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(82,52,38,1)), color-stop(50%,rgba(131,100,79,1)), color-stop(100%,rgba(82,52,38,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(82,52,38,1) 0%,rgba(131,100,79,1) 50%,rgba(82,52,38,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(82,52,38,1) 0%,rgba(131,100,79,1) 50%,rgba(82,52,38,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(82,52,38,1) 0%,rgba(131,100,79,1) 50%,rgba(82,52,38,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(82,52,38,1) 0%,rgba(131,100,79,1) 50%,rgba(82,52,38,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#523426', endColorstr='#523426',GradientType=1 ); /* IE6-9 */
}

.gradient-line-header{
    border-bottom: 2px solid;
    border-bottom-color: rgb(74,55,37); /* Old browsers */
    border-bottom-color: -moz-linear-gradient(left,  rgba(74,55,37,1) 0%, rgba(218,153,100,1) 24%, rgba(228,188,159,1) 50%, rgba(218,153,100,1) 71%, rgba(74,55,37,1) 100%); /* FF3.6+ */
    border-bottom-color: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(74,55,37,1)), color-stop(24%,rgba(218,153,100,1)), color-stop(50%,rgba(228,188,159,1)), color-stop(71%,rgba(218,153,100,1)), color-stop(100%,rgba(74,55,37,1))); /* Chrome,Safari4+ */
    border-bottom-color: -webkit-linear-gradient(left,  rgba(74,55,37,1) 0%,rgba(218,153,100,1) 24%,rgba(228,188,159,1) 50%,rgba(218,153,100,1) 71%,rgba(74,55,37,1) 100%); /* Chrome10+,Safari5.1+ */
    border-bottom-color: -o-linear-gradient(left,  rgba(74,55,37,1) 0%,rgba(218,153,100,1) 24%,rgba(228,188,159,1) 50%,rgba(218,153,100,1) 71%,rgba(74,55,37,1) 100%); /* Opera 11.10+ */
    border-bottom-color: -ms-linear-gradient(left,  rgba(74,55,37,1) 0%,rgba(218,153,100,1) 24%,rgba(228,188,159,1) 50%,rgba(218,153,100,1) 71%,rgba(74,55,37,1) 100%); /* IE10+ */
    border-bottom-color: linear-gradient(to right,  rgba(74,55,37,1) 0%,rgba(218,153,100,1) 24%,rgba(228,188,159,1) 50%,rgba(218,153,100,1) 71%,rgba(74,55,37,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a3725', endColorstr='#4a3725',GradientType=1 ); /* IE6-9 */
}

.gradient-line{
    background: rgb(216,159,132); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(216,159,132,1) 0%, rgba(167,96,68,1) 28%, rgba(251,209,191,1) 50%, rgba(167,96,68,1) 72%, rgba(216,159,132,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(216,159,132,1)), color-stop(28%,rgba(167,96,68,1)), color-stop(50%,rgba(251,209,191,1)), color-stop(72%,rgba(167,96,68,1)), color-stop(100%,rgba(216,159,132,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d89f84', endColorstr='#d89f84',GradientType=1 ); /* IE6-9 */
}

.gradient-diamond{
    background: rgb(178,110,80); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(178,110,80,1) 0%, rgba(120,36,37,1) 50%, rgba(162,70,40,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(178,110,80,1)), color-stop(50%,rgba(120,36,37,1)), color-stop(100%,rgba(162,70,40,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(178,110,80,1) 0%,rgba(120,36,37,1) 50%,rgba(162,70,40,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(178,110,80,1) 0%,rgba(120,36,37,1) 50%,rgba(162,70,40,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(178,110,80,1) 0%,rgba(120,36,37,1) 50%,rgba(162,70,40,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(178,110,80,1) 0%,rgba(120,36,37,1) 50%,rgba(162,70,40,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26e50', endColorstr='#a24628',GradientType=1 ); /* IE6-9 */
}
.carousel-indicators{
    border-top: 1px solid;
    border-top-color:rgb(216,159,132); /* Old browsers */
    border-top-color: -moz-linear-gradient(left,  rgba(216,159,132,1) 0%, rgba(167,96,68,1) 28%, rgba(251,209,191,1) 50%, rgba(167,96,68,1) 72%, rgba(216,159,132,1) 100%); /* FF3.6+ */
    border-top-color: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(216,159,132,1)), color-stop(28%,rgba(167,96,68,1)), color-stop(50%,rgba(251,209,191,1)), color-stop(72%,rgba(167,96,68,1)), color-stop(100%,rgba(216,159,132,1))); /* Chrome,Safari4+ */
    border-top-color: -webkit-linear-gradient(left,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* Chrome10+,Safari5.1+ */
    border-top-color: -o-linear-gradient(left,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* Opera 11.10+ */
    border-top-color: -ms-linear-gradient(left,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* IE10+ */
    border-top-color: linear-gradient(to right,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d89f84', endColorstr='#d89f84',GradientType=1 ); /* IE6-9 */
    bottom: 0;
    padding-top: 20px;
}
.carousel-indicators li{
    background: rgb(178,110,80); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(178,110,80,0.7) 0%, rgba(120,36,37,0.7) 50%, rgba(162,70,40,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(178,110,80,0.7)), color-stop(50%,rgba(120,36,37,0.7)), color-stop(100%,rgba(162,70,40,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(178,110,80,0.7) 0%,rgba(120,36,37,0.7) 50%,rgba(162,70,40,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(178,110,80,0.7) 0%,rgba(120,36,37,0.7) 50%,rgba(162,70,40,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(178,110,80,0.7) 0%,rgba(120,36,37,0.7) 50%,rgba(162,70,40,0.7) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(178,110,80,0.7) 0%,rgba(120,36,37,0.7) 50%,rgba(162,70,40,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26e50', endColorstr='#a24628',GradientType=1 ); /* IE6-9 */
}
.carousel-indicators .active{
    background: rgb(178,110,80); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(178,110,80,1) 0%, rgba(120,36,37,1) 50%, rgba(162,70,40,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(178,110,80,1)), color-stop(50%,rgba(120,36,37,1)), color-stop(100%,rgba(162,70,40,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(178,110,80,1) 0%,rgba(120,36,37,1) 50%,rgba(162,70,40,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(178,110,80,1) 0%,rgba(120,36,37,1) 50%,rgba(162,70,40,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(178,110,80,1) 0%,rgba(120,36,37,1) 50%,rgba(162,70,40,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(178,110,80,1) 0%,rgba(120,36,37,1) 50%,rgba(162,70,40,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b26e50', endColorstr='#a24628',GradientType=1 ); /* IE6-9 */

}
.carousel-control{
    width: 5%;
    opacity: 1;
}
.carousel-control.right,
.carousel-control.left{
    background-image: none;
}
.carousel-control .icon-prev:before,
.carousel-control .icon-next:before{
    content: none;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
    top: 30%;
}
.carousel-inner img{
    padding-top: 0px;
}
.diamond {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 10px;
  height: 0;
  position: relative;
  margin: 5px 0 10px;
  border: 5px solid rgba(0,0,0,0);
  border-top-width: 0;
  border-bottom-color: #1abc9c;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
}

.diamond::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 5px;
  left: -5px;
  border: 10px solid rgba(0,0,0,0);
  border-top: 12px solid #1abc9c;
  border-bottom-width: 0;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none;
}
.box-news{
  /*border-bottom: 1px solid rgb(82,52,38);*/
  padding: 10px;
  height: 180px
}
.box-news h3{
  margin: 5px 0 10px;
}
.box-news a {
    color: #000;
    font-family: Copperplate-Lig;
    font-size: 12px;
}
.box-news a:hover {
   color: rgb(216,159,132);
}
.header-title {
  margin:0 0 20px;
  border-bottom: 1px solid ;
  border-bottom-color:rgb(216,159,132); /* Old browsers */
  border-bottom-color: -moz-linear-gradient(left,  rgba(216,159,132,1) 0%, rgba(167,96,68,1) 28%, rgba(251,209,191,1) 50%, rgba(167,96,68,1) 72%, rgba(216,159,132,1) 100%); /* FF3.6+ */
  border-bottom-color: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(216,159,132,1)), color-stop(28%,rgba(167,96,68,1)), color-stop(50%,rgba(251,209,191,1)), color-stop(72%,rgba(167,96,68,1)), color-stop(100%,rgba(216,159,132,1))); /* Chrome,Safari4+ */
  border-bottom-color: -webkit-linear-gradient(left,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* Chrome10+,Safari5.1+ */
  border-bottom-color: -o-linear-gradient(left,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* Opera 11.10+ */
  border-bottom-color: -ms-linear-gradient(left,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* IE10+ */
  border-bottom-color: linear-gradient(to right,  rgba(216,159,132,1) 0%,rgba(167,96,68,1) 28%,rgba(251,209,191,1) 50%,rgba(167,96,68,1) 72%,rgba(216,159,132,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d89f84', endColorstr='#d89f84',GradientType=1 ); /* IE6-9 */

  font-family: Copperplate-Lig;
  font-size: 12px;

}
.header-title a {
   color: #000;
}
.header-title a:after {
  content: "\0BB \020";
  padding-left:10px;
}
.header-title a:hover {
   text-decoration:none;
   color: rgb(216,159,132);
}
/* Hover Image Captions
------------------------------------- */
a.img-caption {
    margin: 0;
    display: block;
}

.img-caption img {
    position: absolute;
    display:block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin:auto;
}

.img-caption figure {
    text-align: center;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    height: 187px;
}

.img-caption figcaption {
    /*background: rgba(0, 0, 0, 0.4);*/
    color: #000;
    position: absolute;
    text-align: left;
    font-family: FirminDidURW-Rom;
    text-transform: uppercase;
    box-sizing: content-box;
    padding: 25px 25px 5px 10px;
    bottom: 0;
    display: block;
    width: 100%;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.img-caption:hover figcaption {
    background: rgba(82,52,38,0.65) ;
    background: -moz-linear-gradient(top,  rgba(82,52,38,0) 0%, rgba(82,52,38,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,52,38,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(82,52,38,0) 0%,rgba(82,52,38,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(82,52,38,0) 0%,rgba(82,52,38,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(82,52,38,0) 0%,rgba(82,52,38,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(82,52,38,0) 0%,rgba(82,52,38,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
.img-caption figcaption span {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    display: block;
    position: relative;
    opacity: 0;
    max-height: 0;
    padding: 0;
    -webkit-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
    -moz-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
    -ms-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
    -o-transition:max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.img-caption:hover figcaption span {
    max-height: 50px;
    opacity: 1;
    padding: 0 0 4px 0;
}
footer {
    font-family: Copperplate-Lig;
    margin: 10px 0 0 ;
    height: 50px;
    padding: 15px;
    color: #fff;
    font-size: 12px;
}
.padding-top10{
    padding-top: 10px;
}
.footer-left{
    width: 40%;
    float: left;
}
.footer-right{
    width: 60%;
    float: right;
}
ul.social-footer{
    color: #fff;
    list-style: none;
    height: 20px;
    padding: 0;
    margin: 0 auto;
    float: right;
}
ul.social-footer li:first-child{
    padding-top: 10px;
    cursor:pointer;
    font-size: 12px;
}
ul.social-footer li{
    float: left;
    padding: 5px 10px;
    font-size: 14px;
}
ul.social-footer li a{
    color: #fff;
}
ul.social-footer li a:hover{
    color: #F6CB8B;
}

p.text_justify {
    text-align: justify;
}
