<div class="container full-height" style="overflow: hidden;">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <p>
        Your message has been submitted.
      </p>
      <p>
        Please wait while the page is redirecting.
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
  function initiateRedirect() {
    setTimeout(
      function() {
        window.location.replace("/location")
      },
      5000
    )
  }

  $(initiateRedirect);
</script>
