<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
      <div class="item active">
          <div class="container">
              <div class="col-md-6">
                  <h1>BEAWELRY STORE <br/><span>at SIAM CENTER</span></h1>
                  <p class="text-contact">
                     We invite you to bare your heart.
                  </p>
                  <p class="text-contact">
                      Siam Center(floor 1) ,Bangkok,Thailand
                  </p>
                  <p class="text-contact">
                      10:00 AM. - 10:00 PM.
                  </p>
                  <p class="text-contact">
                      Tel.  02-658-1068 <br/>Email : customer@beawelry.com
                  </p>


              </div>
              <div class="col-md-6">
                <%= image_tag 'beawelry-map.png', class: 'img-responsive' %>
              </div>
          </div>
      </div>
      <div class="item">
          <div class="container">

              <div class="col-md-6">
                  <h1>ENQUIRIES</h1>
                  <p>
                     We would love to hear your thoughts, comments and questions. Please leave your suggestion below and we will get back to you as soon as possible.
                  </p>

                  <%= form_tag leave_message_location_path, method: :post do %>
                    <div class="row">
                      <div class="form-group col-lg-4">
                        <label>Name</label>
                        <%= text_field_tag 'name', '', class: 'form-control', required: true %>
                      </div>
                      <div class="form-group col-lg-4">
                        <label>Email Address</label>
                        <%= email_field_tag 'email', '', class: 'form-control', required: true %>
                      </div>
                      <div class="form-group col-lg-4">
                        <label>Phone Number</label>
                        <%= text_field_tag 'telephone', '', class: 'form-control' %>
                      </div>
                      <div class="clearfix"></div>
                      <div class="form-group col-lg-12">
                        <label>Message</label>
                        <%= text_area_tag 'message', '', class: 'form-control', required: true, rows: 6 %>
                      </div>
                      <div class="form-group col-lg-12">
                          <input type="hidden" name="save" value="contact">
                          <button type="submit" class="btn btn-default">Submit</button>
                      </div>
                    </div>
                  <% end %>
              </div>
          </div>
      </div>
  </div>

  <%= render partial: 'shared/carousel_control' %>

</header>
<!-- /.container -->
