<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="description" content="Beawelry reinvents the traditional perception of jewelry; from precious and valuable material to object of emotional representation. We strive to provide the most warming and beautiful experience of giving, receiving, and wearing">
    <meta name="author" content="Beawelry">

    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <!--
    /**
     * @license
     * MyFonts Webfont Build ID 2883025, 2014-09-14T04:22:41-0400
     *
     * The fonts listed in this notice are subject to the End User License
     * Agreement(s) entered into by the website owner. All other parties are
     * explicitly restricted from using the Licensed Webfonts(s).
     *
     * You may obtain a valid license at the URLs below.
     *
     * Webfont: Copperplate Light by URW++
     * URL: http://www.myfonts.com/fonts/urw/copperplate/t-light/
     * Copyright: (URW)++,Copyright 2006 by (URW)++ Design &amp; Development
     *
     * Webfont: Firmin Didot URW Roman by URW++
     * URL: http://www.myfonts.com/fonts/urw/firmin-didot/urw-t-roman/
     * Copyright: Copyright 2010 URW++ Design &amp; Development Hamburg
     *
     *
     * License: http://www.myfonts.com/viewlicense?type=web&buildid=2883025
     * Licensed pageviews: 10,000
     *
     * © 2014 MyFonts Inc
    */

    -->
  </head>

  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W9RF2S"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W9RF2S');</script>
    <!-- End Google Tag Manager -->

    <div class="brand gradient-bg-header">
      <%= image_tag "beawelry_logo_02.png" %>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header gradient-bg-header">
          <button type="button" class="navbar-toggle gradient-bg-header" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
          <a class="navbar-brand" href="/">
            <%= image_tag 'beawelry_logo_03.png' %>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li >
              <%= link_to 'inside', inside_path, class: (@page_group == 'inside' ? 'active' : '') %>
            </li>
            <li>
              <%= link_to 'collection', collections_path, class: (@page_group == 'collections' ? 'active' : '') %>
            </li>
            <li>
              <%= link_to 'news', news_index_path, class: (@page_group == 'news' ? 'active' : '') %>
            </li>
            <li>
              <%= link_to 'store location', location_path, class: (@page_group == 'location' ? 'active' : '') %>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <%= yield %>

    <footer class="gradient-bg-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="footer-left">
              <div class="padding-top10">Beawelry &reg; 2014 &copy;</div>
            </div>
            <div class="footer-right">
              <ul class="social-footer">
                <li>
                  <%= link_to 'Terms & Policies', terms_and_policies_path %>
                </li>
                <li>
                  <a href="https://www.facebook.com/Beawelry" target="_blank" title="Beawelry's facebook">
                  <i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="http://instagram.com/beawelry" title="Beawelry's instagram">
                  <i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <link href="//hello.myfonts.net/count/2bfdd1" media="all" rel="stylesheet" />
  </body>
</html>
